textarea {
    resize: vertical;
}

.navbar {
    margin: 15px 0;
}

.img-responsive {
    width: 100%;
}

.embed-responsive {
    /*
    Fix strange bug which causes embedded YouTube videos to disappear after a few seconds
    */
    overflow: visible;
}
